<%- include("header") -%>

  <div class="bottom">

    <h4>
      MovieRec's this week recommendations
    </h4>


    <div id="carouselExampleControl" class="carousel slide mvrc" data-bs-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row mvrc">
            <div class="col-lg-3">
              <a href="">
                <img src="rec/bhaveshjoshi.jpg" class="myrec">
              </a>
              <h6>Action,Crime,Drama</h6>
            </div>
            <div class="col-lg-3">
              <a href="">
                <img src="rec/forestgump.png" class="myrec">
              </a>
              <h6>Comedy,Drama,Romance</h6>
            </div>
            <div class="col-lg-3">
              <a href="">
                <img src="rec/8Thottakkal.jpg" class="myrec">
              </a>
              <h6>Crime,Thriller</h6>
            </div>
            <div class="col-lg-3">
              <a href="">
                <img src="rec/mazerunner.jpg" class="myrec">
              </a>
              <h6>Action,Adventure,Sci-Fi</h6>
            </div>
            <div class="col-lg-3">
              <a href="">
                <img src="rec/dhruva.jfif" class="myrec">
              </a>
              <h6>Action,Thriller</h6>
            </div>



          </div>
        </div>

        <div class="carousel-item">
          <div class="row">



            <div class="col-lg-3" class="myrec">
              <a href="">
                <img src="rec/Kumbalangi_Nights_poster.jpg" class="myrec">
              </a>
              <h6>Drama,Romance</h6>
            </div>
            <div class="col-lg-3" class="myrec">
              <a href="">
                <img src="rec/rvrg.jpg" class="myrec">
              </a>
              <h6>Comedy,Drama,Romace</h6>
            </div>

          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <h3>Movie Genres</h3>

    <div class="container-fluid  btn-grp">
      <button type="button" class="btn btn-outline-light active btn-each">Action & Adventure</button>

      <button type="button" class="btn btn-outline-light btn-each">Thriller</button>

      <button type="button" class="btn btn-outline-light btn-each">Historical</button>

      <button type="button" class="btn btn-outline-light btn-each">Fantasy</button>

      <button type="button" class="btn btn-outline-light btn-each">Sci-fi</button>

      <button type="button" class="btn btn-outline-light btn-each">Comedy</button>

      <button type="button" class="btn btn-outline-light btn-each">Mystery & Suspense</button>




    </div>

    <div class="row mvrc aa">
      <div class="col-lg-3">
        <a href="">
          <img src="Action & Adventure/1.jpg" class="myrec genre">
        </a>

      </div>
      <div class="col-lg-3">
        <a href="">
          <img src="Action & Adventure/2.jpg" class="myrec genre">
        </a>

      </div>
      <div class="col-lg-3">
        <a href="">
          <img src="Action & Adventure/3.jpg" class="myrec genre">
        </a>

      </div>
      <div class="col-lg-3">
        <a href="">
          <img src="Action & Adventure/4.jpg" class="myrec genre">
        </a>

      </div>
      <div class="col-lg-3">
        <a href="">
          <img src="Action & Adventure/5.jpg" class="myrec genre">
        </a>

      </div>
      <div class="col-lg-3">
        <a href="">
          <img src="Action & Adventure/6.jpg" class="myrec genre">
        </a>

      </div>
      <div class="col-lg-3">
        <a href="">
          <img src="Action & Adventure/7.jpg" class="myrec genre">
        </a>

      </div>

      <div class="col-lg-3">
        <a href="">
          <img src="Action & Adventure/8.jpg" class="myrec genre">
        </a>

      </div>

      <div class="col-lg-3">
        <a href="">
          <img src="Action & Adventure/9.jpg" class="myrec genre">
        </a>

      </div>



    </div>



    <hr>


    <p><em>The place to get all your <strong><a href="https://www.imdb.com/">movie recommendations.</a></strong></em></p>
    <p>Are you bored or out of good movies,don't worry we got u covered. </p>
  </div>

  <%- include("footer") -%>
